.breadcrumbs {}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item {
    position: relative;
    & + & {
        &::before {
            content: '>';
            margin: 0 10px;
            @media (max-width: 767px) {
                margin: 0 4px;
            }
        }
    }
    a {
        color: inherit;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        @media (max-width: 767px) {
            font-size: 12px;
            line-height: 14px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &_active {
        pointer-events: none;
        a {
            font-weight: normal;
        }
    }
}