.header {
    height: 64px;
    background-color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    position: sticky;
    top: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    z-index: 1;
    transform: translateY(-100%),
}

.header__container {
    height: 100%;
    display: flex;
}

.header__logo {
    height: 100%;
    img {
        max-height: 100%;
    }
}

.header__nav {
    margin: auto;
    padding-right: 38px;
    @media (max-width: 767px) {
        display: none;
    }
}

.header__sign-in {
    margin: auto 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    a {
        color: inherit;
    }
    @media (max-width: 767px) {
        display: none;
    }
}

.header__hamburger {
    display: none;
    margin: auto 0 auto auto;
    @media (max-width: 767px) {
        display: flex;
    }
}

.header__mobile-menu {
    display: none;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    @media (max-width: 767px) {
        display: block;
    }
}